<!DOCTYPE html>
<html>
<head>
    <title>Delivery Details</title>
</head>
<body>

<h2>Delivery Details</h2>

<table border="1">
    <thead>
        <tr>
            <th>Username</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Payment Method</th>

        </tr>
    </thead>
    <tbody>
        {% for delivery in deliveries %}
        <tr>
            <td>{{ delivery.username }}</td>
            <td>{{ delivery.address }}</td>
            <td>{{ delivery.phone }}</td>
            <td>{{ delivery.payment }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
